{
  "API": "",
  "CaseCode": "Off",
  "Dependencies": [
    {
      "URL": "https://github.com/JoshDavid/EasyGUI",
      "Version": "1.0.4"
    }
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "#.DBViewer.Run",
  "OnBuild": "",
  "ProjectSpace": "#.DBViewer",
  "StartUp": "",
  "URL": "https://github.com/JoshDavid/SQL-Browser",
  "Version": "0.0.4"
}
